@keyframes alerta-tempo {
  0% {
    color: red;
    font-size: 1.5em;

  }
}

@keyframes alerta-erro {
  0% {
    box-shadow: 0 0 10px red;
  }
}

.icones {
  vertical-align: middle;
}

.informacoes li {
  line-height: 2.5em;
}

.tempo-acabando {
  animation: alerta-tempo .5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.campo-digitacao {
  height: 130px;
  border: 2px solid #000000;
  border-radius: 10px;
  outline: none;
  transition: background .3s ease-in, border .1s ease-in-out;
}

.campo-digitacao.certo {
  border: 2px solid #00ab00;
}

.campo-digitacao.errado {
  border: 2px solid red;
  animation: alerta-erro .3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.campo-digitacao[disabled] {
  background: lightgray;
}

.frase,
.campo-digitacao {
  font-size: 20px;
}

tr {
  transition: background 1s ease-in-out;
}

.mensagem-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 0 9999px rgba(0,0,0,.7);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.conteudo-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.conteudo-modal.adicionando-usuario .reiniciar{
  display: none;
}

.mensagem {
  margin: 0 auto;
  font-size: 16px;
  color: #333333;
  text-align: justify;
}

.conteudo-modal .reiniciar, .conteudo-modal .fechar {
  position: absolute;
}

.conteudo-modal .reiniciar {
  bottom: 10px;
  left: 10px;
}

.conteudo-modal .fechar {
  top: 10px;
  right: 10px;
}
